.gnb {
  @include column-flexbox;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $gnb-level;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &-top {
    @include flexbox(start);
    flex-grow: 1;
    width: 100%;
    height: $gnb-top-height-lg;
    padding: 0 20px;

    .logo {
      margin-top: 2px;
      margin-right: 18px;
    }

    .logo-image svg {
      width: 32px;
      height: 32px;
    }
  }

  &-nav {
    @include inline-flexbox(start);
    width: 100%;
    height: $gnb-nav-height-lg;
    padding: 0 20px;
  }

  @include responsive(md) {
    width: 100%;

    &-top {
      height: $gnb-top-height-md;
      padding: 8px 12px;

      .logo {
        margin-right: 14px;
      }

      .logo-image svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}
