.images-section {
  max-width: 1320px;
  padding: 0 12px;

  .images-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
  }

  .search-result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .search-word {
    @include flexbox(start, baseline);
    @include text-style(24, $black);
    max-width: 1320px;
    margin: 72px 0;

    .total {
      @include flexbox;
      margin: 0 20px;

      svg {
        width: 18px;
        height: 18px;
        margin-right: 4px;
      }

      p {
        @include text-style(14, $black);
        padding-top: 1.5px;
      }
    }
  }

  .images-list {
    @include column-flexbox(start);
  }

  .image-item {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .image-link {
    width: 100%;
    height: 100%;
  }

  .image-layer {
    display: block;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .image-content-layer {
    @include column-flexbox(between);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .image-content-layer:hover {
    -webkit-box-shadow: inset 0px 0px 50px 40px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 50px 40px rgba(0, 0, 0, 0.3);
  }

  .image-content-layer:hover .top {
    opacity: 1;
  }

  .image-content-layer:hover .bottom {
    opacity: 1;
  }

  .top {
    @include flexbox(end);
    width: 100%;
    opacity: 0;
  }

  .bottom {
    @include flexbox(between);
    width: 100%;
    opacity: 0;
  }

  .bottom-left {
    @include flexbox(start);
  }

  .user-desc {
    @include column-flexbox(start, start);

    .user-name {
      @include text-style(15, rgba($white, 0.8));
    }

    .hire-status {
      @include text-style(11, rgba($white, 0.8));
    }

    .user-name:hover,
    .hire-status:hover {
      color: $white;
    }
  }

  .image-content-button {
    height: 32px;
    padding: 0 14px;
    background-color: #ffffffe6;
    border-radius: 4px;

    svg {
      width: 15px;

      path {
        fill: $gray;
      }
    }
  }

  .image-content-button:hover {
    path {
      fill: $black;
    }
  }

  .like-button {
    margin-right: 8px;
  }

  .hire-status {
    svg {
      position: relative;
      top: 2.5px;
      width: 13px;
      height: 13px;
      margin-left: 2px;

      path {
        fill: rgba($white, 0.7);
      }
    }
  }

  .hire-status:hover {
    path {
      fill: $white;
    }
  }

  .user-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include responsive(lg) {
    .images-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    .images-list {
      display: block;
    }
  }

  @include responsive(md) {
    .images-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
