.pagination {
  @include flexbox;
  width: 100%;
  margin: 30px 0 45px 0;

  .page-btn {
    @include flexbox(between);
    width: 250px;
  }

  .btn {
    &-prev,
    &-current,
    &-next {
      @include flexbox;
      padding: 4px 12px;
      background-color: rgba($gray, 0.2);
      border-radius: 24px;
    }

    &-prev,
    &-next {
      @include text-style(15, $black);
      @include tran;
    }

    &-prev {
      .page-num {
        margin-left: 10px;
      }
    }

    &-current {
      @include text-style(14, $black);
    }

    &-next {
      .page-num {
        margin-right: 10px;
      }
    }

    &-prev:hover {
      background-color: rgba($gray, 0.4);
    }

    &-next:hover {
      background-color: rgba($gray, 0.4);
    }
  }

  svg {
    transform: scale(0.8);
  }
}
