$font-size-11: 11px;
$line-height-11: 14.85px;

$font-size-13: 13px;
$line-height-13: 20.8px;

$font-size-14: 14px;
$line-height-14: 22.4px;

$font-size-15: 15px;
$line-height-15: 24px;

$font-size-18: 18px;
$line-height-18: 28.8px;

$font-size-24: 24px;
$line-height-24: 28.8px;

$font-size-50: 50px;
$line-height-50: 55.2px;
