.search {
  @include flexbox(start);
  @include tran;
  flex-grow: 1;
  background-color: $background;
  border: 1px solid $white;
  border-radius: 24px;

  form {
    @include flexbox(start);
    width: 100%;
    height: 40px;
  }

  &-icon {
    @include flexbox;
    position: relative;
    top: 2px;
    width: 40px;
    height: 38px;

    svg {
      height: 20px;
      padding-left: 10px;

      path {
        width: 15px;
        height: 15px;
        transition: fill 0.1s ease-in-out;
        fill: $gray;
      }
    }
  }

  &-icon:hover {
    svg path {
      fill: $black;
    }
  }

  &-input {
    @include flexbox(start);
    @include text-style(14, $gray);
    // width: 100%;
    flex-grow: 1;
    height: 100%;
    font-weight: 400;

    input {
      // width: 570px;
      // min-width: 870px;
      // width: 100%;
      flex-grow: 1;
      height: 100%;
      padding: 2px 2px 2px 5px;
    }
  }

  &-visual-icon {
    width: 48px;
    height: 38px;
    padding: 9px 0 0 8px;
    cursor: pointer;

    svg {
      height: 20px;

      path {
        fill: $gray;
      }
    }
  }

  &-visual-icon:hover {
    path {
      fill: $black;
    }
  }

  @include responsive(md) {
    margin-right: 8px;

    &-visual-icon {
      display: none;
    }
  }
}

.search:hover {
  border: 1px solid $border;
}
